/* SIDEBAR */
.sidebar[b-ftcrkoicqg] {
    width: 270px;
    height: 100vh;
    background: #ffffff;
    border-right: 1px solid #e5e7eb;
    top: 0;
    left: 0;
    overflow-y: auto;
    font-family: 'Segoe UI', sans-serif;
    padding-top: 10px;
}

/* LOGO */
.logo-container[b-ftcrkoicqg] {
    padding: 10px 20px 10px 20px;
}

.logo[b-ftcrkoicqg] {
    width: 170px;
    height: auto;
}

/* NAV CONTAINER */
.nav-scrollable[b-ftcrkoicqg] {
    padding: 5px 0;
}

/* SECTION HEADING */
.nav-heading[b-ftcrkoicqg] {
    font-size: 14px;
    font-weight: 600;
    color: black;
    padding: 18px 30px 8px;
    letter-spacing: 0.5px;
}

.px-3[b-ftcrkoicqg] {
    padding-left: 12px !important;
    padding-right: 2px !important;
}

/* BOX SPACING */
/* .sub-box {
    margin-bottom: 8px;
} */

.sub-sub-box[b-ftcrkoicqg] {
    margin: 6px 15px 0px 10px;
}

/* NAV ITEMS */
.nav-item[b-ftcrkoicqg] {
    width: 100%;
    padding: 1px 0px;
}

/* LINKS */
.sidebar[b-ftcrkoicqg]  .nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #666666 !important;
    text-decoration: none !important;
    /* padding: 12px 20px; */
    /* margin: 4px 12px; */
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease;
}

/* ICONS */
.sidebar[b-ftcrkoicqg]  .nav-link span {
    font-size: 14px;
}

/* HOVER */
.sidebar[b-ftcrkoicqg]  .nav-link:hover {
    background: #f3f4f6;
    color: #4d4d4d !important;
}

/* ACTIVE LINK */
.sidebar[b-ftcrkoicqg]  .nav-link.active {
    background: #5b7cff !important;
    color: white !important;
    box-shadow: 0 4px 12px rgba(91, 124, 255, 0.25);
}

/* ACTIVE ICON */
.sidebar[b-ftcrkoicqg]  .nav-link.active span {
    color: white;
}

/* REMOVE DEFAULT BLAZOR STYLES */
a[b-ftcrkoicqg], .btn-link[b-ftcrkoicqg] {
    text-decoration: none !important;
}

/* MAIN PAGE CONTENT SHIFT */
.page-content[b-ftcrkoicqg] {
    margin-left: 270px;
    padding: 30px;
}

/* SCROLLBAR */
.sidebar[b-ftcrkoicqg]::-webkit-scrollbar {
    width: 6px;
    display: none;
}

.sidebar[b-ftcrkoicqg]::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 20px;
}