/* SIDEBAR */
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 270px;
    /* min-height: 100vh; */
    background: #ffffff;
    border-right: 1px solid #e5e7eb;
    top: 0;
    left: 0;
    overflow-y: auto;
    font-family: 'Segoe UI', sans-serif;
    padding-top: 10px;
    transition: width 0.3s ease;

}

.sidebar.collapsed {
    width: 80px;
}

.sidebar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.toggle-btn {
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    padding: 6px 10px;
}

.sidebar.collapsed .nav-link {
    justify-content: center;
}

.sidebar.collapsed .px-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* .sidebar.collapsed .nav-heading, */
.sidebar.collapsed .logo-container {
    display: none;
}

.logo-container {
    padding: 10px 20px 10px 20px;
}

.logo {
    width: 170px;
    height: auto;
}

/* NAV CONTAINER */
.nav-scrollable {
    padding: 5px 0;
}

/* SECTION HEADING */
.nav-heading {
    font-size: 14px;
    font-weight: 600;
    color: black;
    padding: 18px 30px 8px;
    letter-spacing: 0.5px;
}

.nav-heading-collapsed {
    padding: 18px 13px 8px;
}

.px-3 {
    padding-left: 12px !important;
    padding-right: 2px !important;
}

/* BOX SPACING */
/* .sub-box {
    margin-bottom: 8px;
} */

.sub-sub-box {
    margin: 6px 15px 0px 10px;
}

/* NAV ITEMS */
.nav-item {
    width: 100%;
    padding: 1px 0px;
}

/* LINKS */
.sidebar ::deep .nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #666666 !important;
    text-decoration: none !important;
    /* padding: 12px 20px; */
    /* margin: 4px 12px; */
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease;
}

/* ICONS */
.sidebar ::deep .nav-link span {
    font-size: 14px;
}

/* HOVER */
.sidebar ::deep .nav-link:hover {
    background: #f3f4f6;
    color: #4d4d4d !important;
}

/* ACTIVE LINK */
.sidebar ::deep .nav-link.active {
    background: #5b7cff !important;
    color: white !important;
    box-shadow: 0 4px 12px rgba(91, 124, 255, 0.25);
}

/* ACTIVE ICON */
.sidebar ::deep .nav-link.active span {
    color: white;
}

/* REMOVE DEFAULT BLAZOR STYLES */
a, .btn-link {
    text-decoration: none !important;
}

/* MAIN PAGE CONTENT SHIFT */
.page-content {
    margin-left: 270px;
    padding: 30px;
}

/* SCROLLBAR */
.sidebar::-webkit-scrollbar {
    width: 6px;
    display: none;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 20px;
}