.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    width: 270px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #e5e7eb;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Segoe UI', sans-serif;
    transition: width .3s ease;
}

.sidebar.collapsed {
    width: 96px;
}

/* .sidebar::-webkit-scrollbar {
    display: none;
} */

.sidebar::-webkit-scrollbar {
    width: 0;
}

.toggle-btn {
    position: absolute;
    top: 105px;
    right: -18px;

    width: 36px;
    height: 36px;

    border-radius: 50%;
    border: 1px solid #dfe3ea;

    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    z-index: 1000;

    box-shadow:
        0 2px 8px rgba(0,0,0,.10),
        0 0 0 4px #fff;

    transition: all .2s ease;
}

.toggle-btn:hover {
    transform: scale(1.05);
    background: #f8fafc;
}

.toggle-btn .bi {
    font-size: 22px;
    color: #475467;
}


.sidebar-top {
    padding: 12px;
    border-bottom: 1px solid #eef2f7;
}

.logo-container {
    text-align: center;
}

.logo {
    width: 170px;
    height: auto;
}


.nav-scrollable {
    padding: 12px 0;
}


.nav-heading {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    color: #111827;
    padding: 18px 24px 10px;
    letter-spacing: .8px;
}

.nav-heading-collapsed {
    font-size: 12px;
}

/* .nav-heading::after {
    content: "";
    position: absolute;

    left: 90px;
    right: 20px;
    top: 50%;

    height: 1px;
    background: #e5e7eb;
} */


/* .sidebar.collapsed .nav-heading {
    display: none;
} */


.sub-box {
    margin-bottom: 16px;
}

.sidebar.collapsed .sub-box {
    /* border-bottom: 1px solid #e5e7eb; */
    margin: 0 10px 16px;
    padding-bottom: 16px;
}




.sub-sub-box {
    margin: 2px 0 6px 8px;
    padding-left: 6px;
    border-left: 1px solid #d9dee8;
}

.sub-sub-box .nav-item {
    gap: 4px !important;
    padding-left: 0 !important;
}

.sub-sub-box .nav-item::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    width: 8px;
    border-top: 1px solid #d9dee8;
}

.sub-sub-box .nav-link {
    gap: 6px !important;
    /* padding-left: 2px !important; */
    padding-left: 0px !important;
}


/* .sub-sub-box {
    margin: 4px 0 8px 18px;
    padding-left: 18px;

    border-left: 1px solid #d9dee8;
} */


/* .sub-sub-box .nav-item {
    position: relative;
} */

/* .sub-sub-box .nav-item::before {
    content: "";

    position: absolute;

    left: -18px;
    top: 50%;

    width: 12px;

    border-top: 1px solid #d9dee8;
} */


.nav-item {
    width: 100%;
}

.px-3 {
    padding-left: 12px !important;
    padding-right: 6px !important;
}


.sub-box > .nav-item > .nav-link {
    font-weight: 600;
    color: #344054 !important;
}

.sub-box > .nav-item > .nav-link .bi {
    font-size: 18px;
    min-width: 22px;
}


.sub-sub-box .bi {
    font-size: 14px;
    min-width: 18px;
}


.sidebar ::deep .nav-link {
    display: flex;
    align-items: center;
    /* gap: 12px; */

    /* padding: 10px 12px; */

    border-radius: 8px;

    color: #667085 !important;
    text-decoration: none !important;

    transition: all .2s ease;

    gap: 8px;
    padding: 8px 10px;
    white-space: nowrap;
}


.sidebar ::deep .nav-link:hover {
    background: #f3f4f6;
}


.sidebar ::deep .nav-link.active {
    background: #5b7cff;
    color: white !important;

    box-shadow: 0 4px 12px rgba(91,124,255,.25);
}

.sidebar ::deep .nav-link.active span {
    color: white;
}


.sub-box > .nav-item:has(.sub-sub-box .active)
> .nav-link {
    background: #eef2ff;
    color: #4f46e5 !important;
}


.sidebar.collapsed .logo-container {
    display: none;
}

.sidebar.collapsed .nav-link {
    justify-content: center;
}

.sidebar.collapsed .px-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
